h1 {
	margin: 30px;
	font-family: 'Open Sans', sans-serif;
}

details {
	text-align: center; 
	font-family: Verdana;
}

summary {
	position: relative;
	margin: 10px;
	border: 2px solid blueviolet;
	padding: 50px;
	box-shadow: 10px 5px 5px red;
	background-color: rgba(215, 239, 232, 0.75);
}

links-list a,
span {
	display: inline-flex;
	width: 25vw;
	padding: 70px;
	border: 5px solid orange;
	margin: 75px;
	margin-top: -40px;
	justify-content: center;
	background-color: #48C4DB;
}